body{
    background: #252F3A;
}
main{
    box-shadow: 0px 20px 40px #07090a;
    color: white;
    width: 80vw;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home {
    height: 80%;
    overflow: hidden;
   display: flex;
    background: #252F3A;
    background-size: cover;
  }
  .gigs{
      display: flex;
      text-align: center;
      position: relative;
      margin: 1rem 8rem;
      visibility:hidden ;
  }
  .task{
    margin-bottom: 0;
    margin-top: 4rem;
    font-size: 1.5rem;

  }
  .task-prag{
      font-size: 10px;
      margin: 0 1rem;
      text-transform: uppercase;
  }
  .profil{
      color: white;
      display: flex;
      flex-direction: row;
  }
  .greet{
      margin: auto 1.5rem;
  }
  .job{
      margin: 0;
      font-size: 13px;
  }
  .main-greet{
    margin: 0;
  }
  .dp{
      height: 9rem;
      margin: 1rem;
  }
  .home__name {
    font-size: 1.5rem;
    color: white;
    margin:0.5rem 0;
   
  }
  
  .home__name--last {
    font-weight: 700;
  }
  .contact{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 3.5rem;
      padding-top: 3rem;
      margin: auto;
      box-shadow: 0px  10px 30px #07090a;
  }
  .contact-items{
      font-size: 12px;
      display: inline;
      margin: 1.8rem;
      padding-right: 1rem;
      border-right: solid 1px white;
  }
  
  .social-icons a {
    margin-top: 3rem;
    padding: 0.4rem;
    color: white;
    font-size: 0.5rem;
  }
  .social-icons a:hover {
      font-size: 12px;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.4);
    transform: scale(1.05,1.05);
    color: gray;
  }
  .contact-header{
      display: inline;
      font-weight: bolder;
  }
  .object{
      display: flex;
      box-shadow: 0px  10px 30px #07090a;
  }
  .obj-hd{
      margin: 1rem 20px;
      border-right: white 1px solid;
      padding: 1.6rem;
  }
  .obj-para{
      font-size: 14px;
      letter-spacing: 1px;
      margin: 2rem ;
  }
  .bio-item{
      display: inline-flex;
      margin: 0.4rem 2rem;
      border-right: solid 1px white;
    padding: 8px 1rem;
  }
  .gender{
      padding-right: 6rem;
  }
  .status{
    padding-right: 2.9rem;   
  }
  .nationality{
    padding-right: 4.1rem;
  }
  .lga{
    padding-right: 3.4rem;
  }
  .state{
    padding-right: 2.8rem;
  }
  .bio{
      background: #162331;
      font-size: 13px;
      padding: 2rem;
  }
  .bio-wd{
    border-bottom: wheat solid 1px;
  }
  .bio-wrap{
    padding: 4rem;
    box-shadow: 0px  10px 30px #07090a;
  }
  .bio-edu{
      display: flex;
  }
.edu-wd{
    margin-top: 3rem;
margin-bottom: 0;
}
.sch-atn-hd{
    margin: 0;
      font-size: 13px;
}
.edu{
    box-shadow: 0px  10px 30px #07090a;
    padding: 1.1rem 2rem;
    margin-left: 0.7rem;
}
.edu-hd{
    border-bottom: wheat solid 1px;
}
.sch-list{
    margin-bottom: 0;
}
.sch-item .spn1{
    margin-left: 9.1rem ;
}
.sch-item .spn2{
    margin-left: 18rem ;
}
.sch-item .spn3{
    margin-left: 13.6rem ;
}
.sch-item p{
    margin-top: 0;
    font-size: 12px;
}
.skl{
    border-right: solid white 1px;
    background: #162331;
    padding: 0.6rem;
    margin: 1rem auto;
    font-size: 14px;
    width: 60%;
}
.p-skills{
    display: flex;
}
.skill{
    margin-left: 3rem;
    margin-top: 9rem;
    width: 9rem;
}
.last{
    display: flex;
    padding: 4rem;

}
.space{
    margin-left: 10rem;
}